# AmÃ©lioration de la planification de la maintenance et de la fiabilitÃ© grÃ¢ce Ã  lâ€™intÃ©gration de lâ€™IA et de lâ€™analyse dÃ©cisionnelle (BI)

# facility section

# 1. Business understanding

In [32]:
import pandas as pd

file_path = r'/content/DATABASE FACILITY.xlsx'

df = pd.read_excel(file_path, header=3)
df.columns = df.iloc[3]
df_cleaned = df[4:].reset_index(drop=True)
df_cleaned.head(5)

3,Sr.No,Eq status,Equipment No,Description,Operation,Work center / Performed By,Activity type,Name of Persons Allocated for the Activity,Start\nTime,End Time,...,Supervisor,Shift,WCR,Completion,W,Date,Month,Year,Duration time Format hh:mm:ss,NaN
0,1,Out Of Order,Workshop,New WS construction project,finishing and painting air conditioner holes+C...,Electrical,External,team Misco,2023-04-06 09:00:00,2023-04-06 13:00:00,...,Mohamed babe,N,NaN,NaN,W 14,06/04/2023,avril,2023,04:00:00,NaN
1,2,Out Of Order,Warehouse,New WS construction project,finishing and painting air conditioner holes,Electrical,External,team Misco,2023-04-06 09:00:00,2023-04-06 13:00:00,...,Mohamed babe,N,NaN,NaN,W 14,06/04/2023,avril,2023,04:00:00,NaN
2,3,Available,WC,corrective maintenance,Start by switching out the toilet faucets,Civil engineering,CMP,Mohamed babe / Mouhamed Taquioullah,2023-04-06 14:00:00,2023-04-06 15:00:00,...,Mohamed babe,N,NaN,NaN,W 14,06/04/2023,avril,2023,01:00:00,NaN
3,4,Available,Terminal,corrective maintenance,Pavement joint treatment,Civil engineering,CMP,Mohamed babe / Workshop welding,2023-04-06 09:00:00,2023-04-06 14:00:00,...,Mohamed babe,N,NaN,NaN,W 14,06/04/2023,avril,2023,05:00:00,NaN
4,5,Available,CCB,Dye samples on the terminal,Removing and installing electrical connections...,Electrical,Support,Gueye,2023-04-06 09:00:00,2023-04-06 11:00:00,...,Mohamed babe,N,NaN,NaN,W 14,06/04/2023,avril,2023,02:00:00,NaN

In [33]:
df_cleaned.dtypes

3
Sr.No                                           object
Eq status                                       object
Equipment No                                    object
Description                                     object
Operation                                       object
Work center / Performed By                      object
Activity type                                   object
Name of Persons Allocated for the Activity      object
Start\nTime                                     object
End Time                                        object
Actual Time Taken                               object
No. of Manpower                                 object
Total \nMan Hours                               object
Status                                          object
WO / Notification No                            object
Supervisor                                      object
Shift                                           object
WCR                                             object
Completion                                      object
W                                               object
Date                                            object
Month                                           object
Year                                            object
Duration time Format hh:mm:ss                   object
NaN                                            float64
dtype: object

In [34]:
rows, cols = df_cleaned.shape
print(f"ðŸ“Š Nombre de lignes : {rows}")
print(f"ðŸ“Š Nombre de colonnes : {cols}")

ðŸ“Š Nombre de lignes : 7994
ðŸ“Š Nombre de colonnes : 25

In [35]:
df_cleaned = df_cleaned.drop(columns=["Sr.No"])
df_cleaned .columns

Index([                                  'Eq status',
                                      'Equipment No',
                                       'Description',
                                        'Operation ',
                        'Work center / Performed By',
                                     'Activity type',
       'Name of Persons Allocated for the Activity ',
                                       'Start\nTime',
                                          'End Time',
                                 'Actual Time Taken',
                                   'No. of Manpower',
                                 'Total \nMan Hours',
                                            'Status',
                              'WO / Notification No',
                                        'Supervisor',
                                             'Shift',
                                               'WCR',
                                        'Completion',
                                                 'W',
                                              'Date',
                                             'Month',
                                              'Year',
                     'Duration time Format hh:mm:ss',
                                                 nan],
      dtype='object', name=3)

In [36]:
nan_percentage = (df_cleaned.isna().sum() / len(df_cleaned)) * 100
print(nan_percentage)

3
Eq status                                       28.108581
Equipment No                                    28.471354
Description                                      0.137603
Operation                                       20.928196
Work center / Performed By                       0.187641
Activity type                                    0.000000
Name of Persons Allocated for the Activity       0.025019
Start\nTime                                      0.000000
End Time                                         0.000000
Actual Time Taken                                0.000000
No. of Manpower                                  0.025019
Total \nMan Hours                                0.000000
Status                                           1.351013
WO / Notification No                            43.082312
Supervisor                                       0.012509
Shift                                            0.012509
WCR                                            100.000000
Completion                                     100.000000
W                                                0.150113
Date                                             0.150113
Month                                            0.150113
Year                                             0.150113
Duration time Format hh:mm:ss                    0.150113
NaN                                            100.000000
dtype: float64

#2.Data processing

In [37]:
df.drop(columns=['WCR', 'Completion'], inplace=True, errors='ignore')


nan_percentage = (df_cleaned.isna().sum() / len(df_cleaned)) * 100
print(nan_percentage)

3
Eq status                                       28.108581
Equipment No                                    28.471354
Description                                      0.137603
Operation                                       20.928196
Work center / Performed By                       0.187641
Activity type                                    0.000000
Name of Persons Allocated for the Activity       0.025019
Start\nTime                                      0.000000
End Time                                         0.000000
Actual Time Taken                                0.000000
No. of Manpower                                  0.025019
Total \nMan Hours                                0.000000
Status                                           1.351013
WO / Notification No                            43.082312
Supervisor                                       0.012509
Shift                                            0.012509
WCR                                            100.000000
Completion                                     100.000000
W                                                0.150113
Date                                             0.150113
Month                                            0.150113
Year                                             0.150113
Duration time Format hh:mm:ss                    0.150113
NaN                                            100.000000
dtype: float64

In [38]:
colonnes_a_traiter = [
    "Description", "Work center / Performed By", 'Name of Persons Allocated for the Activity ',
    "No. of Manpower", "Status", "Supervisor", "Shift", "W",
    "Date", "Month", "Year", "Duration time Format hh:mm:ss"
]

df_cleaned = df_cleaned.dropna(subset=colonnes_a_traiter)
df_cleaned = df_cleaned.dropna(axis=1, how='all')

nan_percentage = (df_cleaned.isna().sum() / len(df_cleaned)) * 100
print(nan_percentage)

3
Eq status                                      27.054925
Equipment No                                   27.539187
Description                                     0.000000
Operation                                      21.090863
Work center / Performed By                      0.000000
Activity type                                   0.000000
Name of Persons Allocated for the Activity      0.000000
Start\nTime                                     0.000000
End Time                                        0.000000
Actual Time Taken                               0.000000
No. of Manpower                                 0.000000
Total \nMan Hours                               0.000000
Status                                          0.000000
WO / Notification No                           43.379636
Supervisor                                      0.000000
Shift                                           0.000000
W                                               0.000000
Date                                            0.000000
Month                                           0.000000
Year                                            0.000000
Duration time Format hh:mm:ss                   0.000000
dtype: float64

In [39]:

print(" Nombre de valeurs uniques par colonne :\n")
for col in df_cleaned.columns:
    valeurs_uniques = df_cleaned[col].nunique(dropna=True)
    print(f"âœ… {col}: {valeurs_uniques} valeurs uniques")

 Nombre de valeurs uniques par colonne :

âœ… Eq status: 2 valeurs uniques
âœ… Equipment No: 76 valeurs uniques
âœ… Description: 1959 valeurs uniques
âœ… Operation : 1663 valeurs uniques
âœ… Work center / Performed By: 4 valeurs uniques
âœ… Activity type: 13 valeurs uniques
âœ… Name of Persons Allocated for the Activity : 763 valeurs uniques
âœ… Start
Time: 4540 valeurs uniques
âœ… End Time: 4767 valeurs uniques
âœ… Actual Time Taken: 57 valeurs uniques
âœ… No. of Manpower: 10 valeurs uniques
âœ… Total
Man Hours: 140 valeurs uniques
âœ… Status: 3 valeurs uniques
âœ… WO / Notification No: 1671 valeurs uniques
âœ… Supervisor: 5 valeurs uniques
âœ… Shift: 5 valeurs uniques
âœ… W: 52 valeurs uniques
âœ… Date: 586 valeurs uniques
âœ… Month: 12 valeurs uniques
âœ… Year: 2 valeurs uniques
âœ… Duration time Format hh:mm:ss: 40 valeurs uniques

In [40]:
df_cleaned = df_cleaned.drop(columns=['Operation '])

In [41]:
df_cleaned['WO / Notification No'] = df_cleaned['WO / Notification No'].fillna("Inconnu")
df_cleaned['Eq status'] = df_cleaned['Eq status'].fillna("Inconnu")

In [42]:

print(df_cleaned['Equipment No'].unique())

['Workshop ' 'Warehouse ' 'WC' 'Terminal ' 'CCB' 'Substation'
 'weighbridge' nan 'EDG-1B' 'EDG-1A' 'Reefer Gantry Lighting System'
 'Facilities' 'Transformer 01-B' 'Transformer 02-B' 'Transformer 01-A'
 'Transformer 02-A' 'High Mast' 'CCTV15' 'STP' 'Domestic Water' 'FFS '
 'Reefer Gantry ' 'CCTV 15' 'PDGB' 'Hydrocarburn Pipe line'
 'Hydrocarbun system' 'Hydrocarbun Pipe line' 'MV Panels' 'Facilitiess'
 'terminal' 'Gate Complex ' 'parking ' 'Parking' 'New admin Building'
 'LV Panels' 'Safety office' 'Weigh bridge' 'security cabinets'
 'Terminal Fire Alarm' 'Hydrocarbon system' 'Rails STS' 'QRH'
 'Old Workshop ' 'New Workshop ' 'Feeder Pillar Panels' 'Fenders'
 'UPS-DP Panel' 'PIT' 'Workshop' 'Domestic water' 'Hydrocarburn System'
 'Technical director house' 'Old admin building' 'Transformer  area' 'EDG'
 'Prefab' 'Technical team' 'Hydrocarburn system' 'Main Gate' 'CFS YARD'
 'EDGs' 'Security office' 'New workshop' 'Bollards' 'Facilitie'
 'Town administrative offices' 'Utility' 'Admin Building Lighting System'
 'Facility' 'Technical departement' 'Facilitie ' 'Technical dpartment'
 'Technical ' 'Gate ' 'Technical Departement' 'Fenders ' 'Prefeb']

In [43]:
import pandas as pd
columns_to_check = ['Equipment No']

modalites = [
    'Workshop', 'Warehouse', 'WC', 'Terminal', 'CCB', 'Substation', 'weighbridge',
    'EDG-1B', 'EDG-1A', 'Reefer Gantry Lighting System', 'Facilities',
    'Transformer 01-B', 'Transformer 02-B', 'Transformer 01-A', 'Transformer 02-A',
    'High Mast', 'CCTV15', 'STP', 'Domestic Water', 'FFS', 'Reefer Gantry',
    'CCTV 15', 'PDGB', 'Hydrocarburn Pipe line', 'Hydrocarbun system',
    'MV Panels', 'Facilitiess', 'terminal', 'Gate Complex', 'parking', 'Parking',
    'New admin Building', 'LV Panels', 'Safety office', 'Weigh bridge',
    'security cabinets', 'Terminal Fire Alarm', 'Hydrocarbon system',
    'Rails STS', 'QRH', 'Old Workshop', 'New Workshop', 'Feeder Pillar Panels',
    'Fenders', 'UPS-DP Panel', 'PIT', 'Workshop', 'Domestic water',
    'Hydrocarburn System', 'Technical director house', 'Old admin building',
    'Transformer area', 'EDG', 'Prefab', 'Technical team', 'Main Gate',
    'CFS YARD', 'EDGs', 'Security office', 'New workshop', 'Bollards',
    'Facilitie', 'Town administrative offices', 'Utility',
    'Admin Building Lighting System', 'Facility', 'Technical departement',
    'Technical dpartment', 'Technical', 'Gate', 'Technical Departement',
    'Fenders', 'Prefeb'
]

df_cleaned['Equipment No'] = df_cleaned['Equipment No'].fillna(pd.Series(modalites).sample(n=1, replace=True).iloc[0])
for col in columns_to_check:
    print(f"{col} : {df_cleaned[col].nunique()} valeurs uniques")
    print(df_cleaned[col].unique())
    print("-" * 50)

Equipment No : 76 valeurs uniques
['Workshop ' 'Warehouse ' 'WC' 'Terminal ' 'CCB' 'Substation'
 'weighbridge' 'EDG-1B' 'EDG-1A' 'Reefer Gantry Lighting System'
 'Facilities' 'Transformer 01-B' 'Transformer 02-B' 'Transformer 01-A'
 'Transformer 02-A' 'High Mast' 'CCTV15' 'STP' 'Domestic Water' 'FFS '
 'Reefer Gantry ' 'CCTV 15' 'PDGB' 'Hydrocarburn Pipe line'
 'Hydrocarbun system' 'Hydrocarbun Pipe line' 'MV Panels' 'Facilitiess'
 'terminal' 'Gate Complex ' 'parking ' 'Parking' 'New admin Building'
 'LV Panels' 'Safety office' 'Weigh bridge' 'security cabinets'
 'Terminal Fire Alarm' 'Hydrocarbon system' 'Rails STS' 'QRH'
 'Old Workshop ' 'New Workshop ' 'Feeder Pillar Panels' 'Fenders'
 'UPS-DP Panel' 'PIT' 'Workshop' 'Domestic water' 'Hydrocarburn System'
 'Technical director house' 'Old admin building' 'Transformer  area' 'EDG'
 'Prefab' 'Technical team' 'Hydrocarburn system' 'Main Gate' 'CFS YARD'
 'EDGs' 'Security office' 'New workshop' 'Bollards' 'Facilitie'
 'Town administrative offices' 'Utility' 'Admin Building Lighting System'
 'Facility' 'Technical departement' 'Facilitie ' 'Technical dpartment'
 'Technical ' 'Gate ' 'Technical Departement' 'Fenders ' 'Prefeb']
--------------------------------------------------

In [44]:
nan_percentage = (df_cleaned.isna().sum() / len(df_cleaned)) * 100
print(nan_percentage)

3
Eq status                                      0.0
Equipment No                                   0.0
Description                                    0.0
Work center / Performed By                     0.0
Activity type                                  0.0
Name of Persons Allocated for the Activity     0.0
Start\nTime                                    0.0
End Time                                       0.0
Actual Time Taken                              0.0
No. of Manpower                                0.0
Total \nMan Hours                              0.0
Status                                         0.0
WO / Notification No                           0.0
Supervisor                                     0.0
Shift                                          0.0
W                                              0.0
Date                                           0.0
Month                                          0.0
Year                                           0.0
Duration time Format hh:mm:ss                  0.0
dtype: float64